body {
    background-color: white;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    text-transform: lowercase;
    margin: 0;
}

h1 {
    color: black;
    font-size: 60px;
    margin: 0;
    font-weight: normal;
}

h2 {
    color: black;
    font-size: 70px;
    margin: 0;
    line-height: 1;
    font-weight: normal;
}

p {
    color: black;
    line-height: 200%;
}

a, a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.scrollblock {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    /* height: 100%; */
    width: 100%;
    text-align: center;
    /* visibility: hidden; */
}

.scrollblock .conteined {
    padding: 0px;
    position: absolute;
    width: 100%;
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
    transition: left 1s;
}

.not-lower {
    text-transform: none;
}

.block-title { background-color: white; color: black; /* padding-bottom: 50px; */}
.block-title a {color: rgb(27, 27, 27)}

.block-testgame    { background-color: #978897; }
.block-testgame h2 { color: #585760; }
.block-testgame p  { color: #4F4E56; }
.block-testgame a  { color: #AEDCC0; }

.block-todo { background-color: #90EE90; }
.block-todo h2 { color: #2A572A; }
.block-todo .todo {
    color: #121A12;
    line-height: 100%;
    font-family: monospace;
    text-align: left;
    padding-top: 10px;
    padding-left: 30%;
    padding-right: 30%;
}

.block-about    { background-color: #44001A; }
.block-about h2 { color: #50303B; }
.block-about p  { color: #542742; }
.block-about a  { color: #AEDCC0; }
