<<<<<<< Updated upstream
.conteiner { visibility: hidden; }

body {
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    text-transform: lowercase;
    margin: 0;
}
=======
.container { visibility: visible; }
>>>>>>> Stashed changes

h1 {
    color: black;
    font-size: 60px;
    margin: 0;
    font-weight: normal;
}

h2 {
    color: black;
    font-size: 70px;
    margin: 0;
    line-height: 1;
    font-weight: normal;
}

p {
    color: black;
    line-height: 200%;
}

a, a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.not-lower {
    text-transform: none;
}

.block-title { background-color: white; color: black; /* padding-bottom: 50px; */}
.block-title a {color: rgb(27, 27, 27)}

.block-testgame    { background-color: #978897; }
.block-testgame h2 { color: #585760; }
.block-testgame p  { color: #4F4E56; }
.block-testgame a  { color: #AEDCC0; }

.block-about    { background-color: #44001A; }
.block-about h2 { color: #50303B; }
.block-about p  { color: #542742; }
.block-about a  { color: #AEDCC0; }
